%html
  %head
    %link{"rel" => "Stylesheet", "href" => "main.css"}
  %body
    #topbar
      The Go Fish Game
    #content
      #subcontent
        #banner="Welcome, #{@user.name}!"
        %form{"method" => "post", "action" => "game"}
          You haven't played any games before.
          Would you like to start a new game?
          %input{"type" => "hidden", "name" => "player_name", "value" => @user.name}
          %input{"type" => "submit", "value" => "Start Game"}
