%html
  %head
    %link{"rel" => "Stylesheet", "href" => "main.css"}
  %body
    #topbar
      The Go Fish Game
    #content
      #title 
        Do you want to play Go Fish?
        %br
        Register or log in below to play!
      #banner=flash[:notice]        
      #subcontent
        %form{"method" => "post", "action" => "/users", "class" => "split", "id" => "register_form"}
          =token_tag nil
          Your Name: 
          %input{"type" => "text", "name" => "user[name]"}
          %br
          Email:
          %input{"type" => "text", "name" => "user[email]"}
          %br
          Password:
          %input{"type" => "password", "name" => "user[password]"}
          %br
          Password (again):
          %input{"type" => "password", "name" => "user[password_confirmation]"}
          %br
          %input{"type" => "submit", "value" => "Register"}
          %br    
        %form{"method" => "post", "action" => "/users/sign_in", "class" => "split", "id" => "login_form"}
          =token_tag nil
          Log in with your email address:
          %input{"type" => "text", "name" => "user[email]"}
          %br          
          Password:
          %input{"type" => "password", "name" => "user[password]"}
          %br
          Remember me?: 
          %input{"type" => "checkbox", "name" => "user[remember_me]"}
          %br
          %input{"type" => "submit", "value" => "Log In"}
      #footer all content copyright 2012 John Calvin Young
